<div class="container">
  <h1><span>Ahoy you!</span> Care to register?</h1>
  <div class="form">
    <app-form-field
      name="email"
      placeholder="Something ending with monterail.com"
    ></app-form-field>
    <app-form-field
      name="password"
      placeholder="Enter your password"
      [passwordButton]="true"
    ></app-form-field>
    <div class="password-properties">
      <p *ngFor="let e of passwordProps">{{ e.prop }}</p>
    </div>
    <div class="buttons">
      <app-non-action-button style="flex: 1" text="Log in instead"></app-non-action-button>
      <app-action-button style="flex: 1" text="Next step" routerLink="/register"></app-action-button>
    </div>
  </div>
</div>
