@import "../../shared/variables.scss";

.container {
  width: 600px;
  @media screen and (max-width: 600px) {
    width: 100vw;
  }
}

.form {
  @media screen and (min-width: 600px) {
    box-shadow: 0px 4px 22px rgba(52, 53, 65, 0.15);
    padding: 40px 64px;
  }
  padding: 0 40px;
  border-radius: 24px;
}

.password-properties {
  font-family: "Roboto";
  font-size: 0.9rem;
  margin: 8px 0;
}

p {
  color: $grey;
  font-size: 0.9rem;
  font-family: "Roboto";
}

.policy {
  color: $dark-grey;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    margin-top: 48px;
    flex-direction: column-reverse;
    gap: 16px;
  }
}

h1 {
  font-family: "Eczar";
  margin-top: 124px;
  margin-bottom: 40px;
  font-size: 4.8rem;
  color: $grey;
  line-height: 100%;
  width: 100%;
  @media screen and (max-width: 600px) {
    text-align: center;
    margin-top: 30px;
    font-size: 2.4rem;
  }
  & span {
    display: block;
    color: $dark-grey;
  }
}

.check {
  display: flex;
  align-items: center;
  margin: 25px 0;
  gap: 8px;
  & input {
    height: 24px;
  }
}

.accept {
  width: 24px;
}

.sub-label {
  margin: 8px 0;
}

a {
  color: $dark-grey;
}

.date-label {
  color: red;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: "Roboto mono";
  margin-bottom: 12px;
  margin-top: 24px;
}

.date-calendar {
  font-family: "Roboto";
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: none;
  background-color: $light-grey;
  color: $grey;
  text-transform: uppercase;
  text-indent: 24px;
  text-overflow: ellipsis;
  transition: background-color 0.3s ease-out 0.2s;
  &:hover {
    background-color: $darker-grey;
  }
  &:active {
    background: rgba(47, 128, 237, 0.1);
  }
}

.sub-label-dynamic {
  margin-top: 8px;
  margin-bottom: -1rem;
  color: $red;
}
