<div class="container">
  <h1><span>Great!</span>Now your name</h1>
  <div class="form">
    <app-form-field
      name="first name"
      placeholder="e.g. Jessica"
      [ngModel]="firstName"
      (ngModelChange)="setFirstName($event)"
      ngDefaultControl
    ></app-form-field>
    <p class="sub-label-dynamic" *ngIf="firstName.length === 0">
      Enter your name
    </p>
    <app-form-field
      name="last name"
      placeholder="e.g. Walton"
      [ngModel]="lastName"
      (ngModelChange)="setLastName($event)"
      ngDefaultControl
    ></app-form-field>
    <p class="sub-label-dynamic" *ngIf="lastName.length === 0">
      Enter your last name
    </p>
    <div class="date-field">
      <p class="date-label">Date of birth</p>
      <input
        type="date"
        [ngModel]="birthDate"
        (ngModelChange)="setBirthDate($event)"
        class="date-calendar"
      />
      <p
        class="sub-label"
        [ngStyle]="{
          color:
            birthDate.length > 0 ? (isBirthDateValid ? 'green' : 'red') : 'gray'
        }"
      >
        You should be minimum 18 years old
      </p>
    </div>

    <div class="check">
      <input
        type="checkbox"
        class="accept"
        name="isAccepted"
        [ngModel]="isPolicyChecked"
        (ngModelChange)="setPolicy($event)"
      />
      <p class="policy">
        I accept <span><a href="#">Privacy Policy</a></span>
      </p>
    </div>

    <div class="buttons">
      <app-non-action-button
        style="flex: 1"
        text="Log in instead"
      ></app-non-action-button>
      <app-action-button
        [disable]="
          !(
            isPolicyChecked &&
            isBirthDateValid &&
            firstName.length > 0 &&
            lastName.length > 0
          )
        "
        (click)="setNameInService()"
        style="flex: 1"
        text="Register"
        routerLink="/final"
      ></app-action-button>
    </div>
  </div>
</div>
