@import "../../shared/variables.scss";

.container {
  width: 600px;
  @media screen and (max-width: 600px) {
    width: 100vw;
  }
}

.form {
  @media screen and (min-width: 600px) {
    box-shadow: 0px 4px 22px rgba(52, 53, 65, 0.15);
    padding: 40px 64px;
  }
  padding: 0 40px;
  border-radius: 24px;
}

.password-properties {
  font-family: "Roboto";
  font-size: 0.9rem;
  margin: 8px 0;
}

p {
  color: $dark-grey;
  font-size: 0.9rem;
  font-family: "Roboto";
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    margin-top: 48px;
    flex-direction: column-reverse;
    gap: 16px;
  }
}

h1 {
  font-family: "Eczar";
  margin-top: 124px;
  margin-bottom: 40px;
  font-size: 4.8rem;
  color: $grey;
  line-height: 100%;
  width: 100%;
  @media screen and (max-width: 600px) {
    text-align: center;
    margin-top: 30px;
    font-size: 2.4rem;
  }
  & span {
    display: block;
    color: $dark-grey;
  }
}

.check {
  display: flex;
  margin: 25px 0;
  gap: 8px;
}

.accept {
  width: 24px;
}

.age {
  margin: 8px 0;
}

a {
  color: $dark-grey;
}
